.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("../../assets/hero.jpg") center/cover no-repeat;
}

span {
  font-style: italic;
}

.hero-title {
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

@media (min-width: 1024px) {
  .hero-title {
    font-size: 2.5rem;
  }
}
// @media (min-width: 180x) and (max-width: 300px) {
//   .hero-image {
//     min-height: 80vh;
//   }
// }
