.nav-menu {
  display: flex;
  padding: 1rem;
  align-items: center;

  a {
    text-decoration: none;
    &:focus,
    &:hover,
    &:visited {
      color: black;
    }
  }

  .logo {
    font-size: 1.5rem;
    img {
      width: 30px;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    margin-left: auto;

    li {
      display: inline-block;
      margin: 0 1rem;
      cursor: pointer;
    }
  }

  .account-container {
    display: flex;
    margin-left: auto;
    align-items: center;

    div {
      margin: 0 1rem;
    }
  }
}
